body {
    overflow: hidden;
}
#mapContainer {
    position: relative;
    width: 2500px;
    /* height: calc(100vh - 65px); */
    height: 2500px;
    overflow: hidden;
    background-color: black;
}

#map {
    position: absolute;
    left: -1500px;
    top: -1500px;
    width: 2500px;
    height: 2500px;
    background-image: url("../assets/maptest.png");
}
